body {
    background-color: rgb(107, 106, 106);
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    background-color: #2196F3;
}

nav img {
    position: absolute;
    right: 4px;
    top: 6px;
    width: 62px;
    height: 62px;
}

.-content {
    box-shadow: #312f2f -1px -2px 20px 9px;
    padding: 20px;
    margin-top: 374px;
    background-color: #9E9E9E;
    width: 531px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 71px;
    color: white;
    -webkit-border-radius: 71px;
    -moz-border-radius: 71px;
    -ms-border-radius: 71px;
    -o-border-radius: 71px;
}

.-content .-azkar-1,
.-content .-azkar-2 {
    margin: 27px;
    cursor: pointer;
    padding: 5px;
    border-radius: 40px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.-content .-azkar-1 a,
.-content .-azkar-2 a {
    
    text-decoration: none;
    
    color: white;
}

.-content .-azkar-1 {
    background-color: #ff9800;
}

.-content .-azkar-2 {
    background-color: #3F51B5;
}